#Google-header {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
#Google-header:hover {
    cursor: pointer;
}
.Google-letter {
    font-family: futura;
    font-size: 100px;
    padding-top: 2%;
}
#first-o-letter, #e-letter {
    color: #EA4335;
}
#big-g-letter, #little-g-letter {
    color: #4285F4;
}
#second-o-letter {
    color: #FBBC05;
}
#l-letter {
    color: #34A853;
}
#banner {
    margin-left: 40px;
    position: absolute;
    z-index: -100;
    width: 50%;
    height: 20%;
}