#vscode-div {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #282c34;
}
#topbar {
    width: 100vw;
    height: 5vh;
    background-color: rgb(60,60,60);
    display: flex;
    flex-direction: row;
}
#topbar button {
    background: none;
    border: none;
    color: white;
    font-family: Verdana;
    font-size: 15px;
    margin-left: 8px;
}
#vscode-logo {
    width: 35px;
    margin: auto;
}
.topbar-icons {
    width: 25px;
    filter: brightness(0) invert(1);
}
#right-arrow {
    rotate: 180deg;
}
#search {
    width: 600px;
    text-align: center;
    margin: 5px;
    border-radius: 7px;
    border: none;
    background: rgb(70,70,70);
    color: white;
    font-size: 15px;
}
#topbar-right {
    margin-left: auto;
    margin-top: 8px;
}
#sidebar {
    display: flex;
    flex-direction: column;
    width: 5vw;
    background: rgb(51,51,51);
    height: 100%;
}
#sidebar button {
    background: none;
    border: none;
    color: white;
    font-family: Verdana;
}
.sidebar-icons {
    width: 35px;
    filter: brightness(0) invert(1);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
#sidebar-expanded {
    width: 20vw;
    background-color: rgb(37,37,38);
    height: 100%;
}
#main-content {
    display: flex;
    flex-direction: row;
    height: 95vh;
    background-color: rgb(30,30,30);
}
#middle-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
#file-tabs {
    display: flex;
    flex-direction: row;
    height: 5vh;
    background: #34363c;
    width: 100%;
}
.file-tab {
    width:max-content;
    padding: 15px;
    color: white;
    border-left: 0.5px solid rgb(30,30,30);
    border-right: 0.5px solid rgb(30,30,30);
    display: flex;
    flex-direction: row;
}
.file-tab-name {
    margin-right: 5px;
}
.filetype-icons {
    width: 25px;
    filter: invert(82%) sepia(29%) saturate(2750%) hue-rotate(174deg) brightness(76%) contrast(85%);
    margin-right: 5px;
}
.file-tab-selected {
    width:max-content;
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: row;
    background-color: rgb(30,30,30);
}
#file-path {
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(30,30,30);
    padding-left: 10px;
}
.file-path-step {
    margin: 5px;
    color: white;
}
#file-topbar {
    box-shadow: 3px 5px 3px;
}
.ipynb-button-content {
    color: white;
    background-color: rgb(30,30,30);
    border: none;
    width:max-content;
    padding: 5px;
    font-family: Verdana;
    font-size: 15px;
}
.ipynb-icons {
    width: 15px;
    filter: brightness(0) invert(1);
    background: none!important;
}
.ipynb-button {
    border:none;
    padding:0;
    border-radius: 6px;
}
.ipynb-button :hover {
    background-color: rgb(49,50,50);
    border-radius: 5px;
    cursor: pointer;
}
#ipynb-buttons {
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    margin-left: 10px;
}
.separator {
    border: 1px white;
    width: 1px;
    background-color: white;
    height: 20px;
    margin: 5px;
}
.code-cell-selector {
    width: 1px;
    background-color: rgb(55,125,206);
}