#Google-page {
    width: 100vw;
    height: 90vh;
}
#Google-header {
    display: flex;
    flex-direction: row;
    width:fit-content;
    margin-top: 10%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}
.Google-letter {
    font-family: futura;
    font-size: 100px;
}
#search-bar-div {
    padding: 20px;
    width: 100vw;
}
#search-bar {
    border: solid;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px;
    width: 600px;
    height: 50px;
    margin: auto;
    transition: box-shadow 0.1s ease;
}
#search-bar:active {
    border-radius: 25px 25px 0 0;
    box-shadow: none !important;
    border-style: solid solid none solid;
}
#search-bar:hover {
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
}
#search-bar-text {
    background-color: transparent;
    border: none;
    height: 70%;
    margin-top: 7px;
    width: 90%;
    outline: none;
    font-size: 18px;
}
#search-icon {
    padding: 15px;
    margin: 0;
}
#first-o-letter, #e-letter {
    color: #EA4335;
}
#big-g-letter, #little-g-letter {
    color: #4285F4;
}
#second-o-letter {
    color: #FBBC05;
}
#l-letter {
    color: #34A853;
}
#suggestions {
    display: flex;
    flex-direction: column;
    width: 600px;
    border: solid;
    border-radius: 0 0 25px 25px;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
.suggestion {
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    padding: 5px 15px 5px 15px;
}
.suggestion:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.suggestion-link {
    font-style: normal;
    color: black;
    text-decoration: none;
}
.suggestion-search-icon {
    margin-right: 15px;
}