#unknown-day-div {
    background: radial-gradient(white, black);
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 50px;
    font-family:verdana;
}

:root {
    --width: 200px;
    --x-speed: 3s;
    --y-speed: 7s;
    --transition-speed: 2.2s;
}

.thinking-emoji { 
    width: var(--width);
    height: var(--width);
    font-size: var(--width);
}

.x {
    animation: x var(--x-speed) linear infinite alternate;
}
.y {
    animation: y var(--y-speed) linear infinite alternate;
}

@keyframes x {
    100% {
        transform: translateX(calc(100vw - var(--width)*2));
    }
}
@keyframes y {
    100% {
        transform: translateY(calc(100vh - var(--width)*2));
    }
}
