
#halloween-div {
    background-color: black;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: halloween;
    height: 100vh;
}
@font-face {
    font-family: "halloween";
    src: url("./SkellingtonHollow-K7L7A.ttf") format('truetype');
}